.unclickable{
  pointer-events: none;
}

.parent-header-font{
  font-size: 14px;
}

.h1-custom{
	font-family: "Brush Script MT", cursive;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

.intro-height{
  position: relative;
  height: 100vh;
}

#parallax{
      height:200px;
      padding-bottom:50px;
      overflow:auto;
      background: url('/media/profile.jpg') no-repeat top center fixed;
      background-size: 100vw, 100vh;
      color:#fff;
}

.blurImg{
      position: absolute;
      height: 100vh;
      width: 100%;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
}

.blur {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

@media screen and (min-width : 768px){
  #parallax { height: 50vh; }
}

.hovereffect .overlay {
  position: relative;
  overflow: hidden;
  height: 2px;
  width: 80%;
  left: 10%;
  top: 50%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 2s, -webkit-transform 2s;
  transition: opacity 2s, transform 2s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
  z-index: 2;
}

@media screen and (min-width : 768px){
  .hovereffect .overlay { height: 2px; }
}

.hovereffect2 .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect #hover {
  display: block;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.hovereffect2 #hover {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.75);
  -webkit-filter: brightness(0.75);
}

.hovereffect3 #hover{
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.8);
  -webkit-filter: brightness(0.8);
}

.hovereffect h2 {
  top: 25%;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-family: Optima;
  font-size: 5.8em;
  background-color: transparent;
  color: #FFF;
  opacity: 0;
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.hovereffect2 a, .hovereffect2 p,{
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.transparency{
  opacity: 0;
}

#center-line{
  position: absolute;
  border-top: 1px solid #FFF;
  left:50%;
  top: 52%;
  width: 0;
  height: 2px;
  z-index: 1;
}

h1 {
  color: red;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(transparent, transparent),
             url(/media/4.jpg) repeat;
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text;
}

/*
 * This style will be shared with the SVG because
 * I have to replace the DOM element in Firefox.
 * Otherwise the SVG pattern will be broken.
 */
 .headline {
   display: block;
   margin-top: 60px;
   margin-bottom: 0;
   text-align: center;
   font-family: Arial;
   font-size: 2.5em;
   font-weight: bold;
   opacity: 0;
   color: black;
 }

 svg {
   height: 8em;
   width: 100%;
 }

 /*  font: bold 2em sans-serif;
     line-height: 1;
 */
 #section1-2{
   background-image: url('/media/pattern11.png')
 }

 #section1-5{
   z-index: 2;
   background-image: url('/media/4.jpg');
 }

.stack{
  left: 0;
}

.headline-border{
  margin: 0 auto;
  display: block;
  align-self: center;
  width: 65%;
  border-top: 1px solid #A9A9A9;
  opacity: 0;
  -webkit-transition: opacity 3s, -webkit-transform 3s;
  transition: opacity 3s, transform 3s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.headline-border2{
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.container{
  margin: 0 auto;
  width: 90%;
}

.motivation{
  margin: 0 auto;
  height: 80%;
  border: 2px solid #FFF;
  margin-top: 5%;
}


.fixed-square{
  width: 20px;
  height: 20px;
  left: 80%;
  position: absolute;
  top: 95%;
  z-index: 10;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Safari */
  transform: rotate(45deg);
}
#square{
  position: absolute;
  top: 48.5%;
  left: 48%;
  height: 30px;
  width: 30px;
  opacity: 0;
  z-index: 1;
}

#static-text{
  top: 25px;
}

.visible{
  opacity: 1;
}

.profile-picture {
  display: block;
  height: 400px;
  display: inline-block;
    vertical-align:middle;
      margin-left: auto;
      margin-right: auto;
      padding-right: 100px;
      z-index: 20;
 }

.text-stuff{
  width: 50%;
  display: inline-block;
    vertical-align:middle;
    text-align: left;
    border-top: 2px solid #e69f86;
    border-bottom: 2px solid #e69f86;

  }

  .positioning{
  text-align: center;
  padding-bottom: 200px;
}

.hovereffect-temp {
  height: 300.00px;
  margin-top: 5%;
  left: 0%;
  float: left;
  overflow: hidden;
  text-align: center;
  cursor: default;
  border: 0;
	-moz-box-shadow: 0 3px 3px 4px #444;
	-webkit-box-shadow: 0  3px 4px #444;
	box-shadow: 0 3px 4px #444;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444');
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    -webkit-transform: perspective(600px) rotateY(40deg);
  -moz-transform: perspective(600px) rotateY(40deg);
  -ms-transform: perspective(600px) rotateY(40deg);
  -o-transform: perspective(600px) rotateY(40deg);
  transform: perspective(600px) rotateY(40deg);
  -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
}

.hovereffect-temp .overlay-temp{
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
}

.hovereffect-temp:hover, #m1:hover{
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
    -webkit-transform: perspective(600px) rotateY(15deg);
    -moz-transform: perspective(600px) rotateY(15deg);
    -ms-transform: perspective(600px) rotateY(15deg);
    -o-transform: perspective(600px) rotateY(15deg);
    transform: perspective(600px) rotateY(15deg);
}

#m1{
  margin-left: 22%;
    -webkit-transform: perspective(800px) rotateY(15deg);
    -moz-transform: perspective(800px) rotateY(15deg);
    -ms-transform: perspective(800px) rotateY(15deg);
    -o-transform: perspective(800px) rotateY(15deg);
    transform: perspective(800px) rotateY(20deg);
}

#m2{
  margin-left: 9%;
}

#m3{
  margin-left: 6%;
}

#m4{
  margin-left: 3%;
}

#m2:hover ~ #m1, #m3:hover ~ #m1, #m4:hover ~ #m1{
margin-left: 440px;
-webkit-transition: all 0.45s ease-in;
  transition: all 0.45s ease-in;
  -webkit-transform: perspective(800px) rotateY(70deg);
  -moz-transform: perspective(800px) rotateY(70deg);
  -ms-transform: perspective(800px) rotateY(70deg);
  -o-transform: perspective(800px) rotateY(70deg);
  transform: perspective(800px) rotateY(70deg);
}

#m3:hover ~ #m2, #m4:hover ~ #m2{

  margin-left: 400px;
-webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  -webkit-transform: perspective(800px) rotateY(70deg);
  -moz-transform: perspective(800px) rotateY(80deg);
  -ms-transform: perspective(800px) rotateY(80deg);
  -o-transform: perspective(800px) rotateY(80deg);
  transform: perspective(800px) rotateY(70deg);
}

#m4:hover ~ #m3{

  margin-left: 360px;
  -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    -webkit-transform: perspective(800px) rotateY(70deg);
    -moz-transform: perspective(800px) rotateY(80deg);
    -ms-transform: perspective(800px) rotateY(80deg);
    -o-transform: perspective(800px) rotateY(80deg);
    transform: perspective(800px) rotateY(70deg);
}
@-webkit-keyframes mymove {
    /*0%   {padding: 0px;}
    25%  {padding: 200px;}
    100%   {padding: 0px;}*/
}

.hovereffect-temp img {
  display: block;
  position: relative;
  -webkit-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
}

.hovereffect-temp:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
  filter: blur(3px);
  -webkit-filter: blur(2px);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);

}

.hovereffect-temp h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 2em;
  padding: 10px;
  color: white;
  margin-left: 5%;
  margin-right: 5%;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
}

.hovereffect-temp:hover h2{
  margin-left: 0;
  margin-right: 0;
}

.hovereffect-temp a.info {
  width: 90%;
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  border: 1px solid #fff;
  background-color: transparent;
}

.hovereffect-temp a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect-temp a.info{
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  opacity: 0;
  filter: alpha(opacity=0);
  color: #fff;
}

.hovereffect-temp:hover a.info{
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}


#gradient{
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;

  background: -moz-linear-gradient(top, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

  /*background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    background-image: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, 0)));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(top, rgba(655, 255, 255, 1), rgba(255, 255, 255, 0));
    background-image: linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(255, 255, 255, 1)', endColorstr='rgba(255, 255, 255, 0)', GradientType=1);
    padding: 2rem 0;
    */
}

.hexagon {
  position: relative;
  width: 300px;
  height: 173.21px;
  background-color: #64C7CC;
  margin: 86.60px 0;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 86.60px solid #64C7CC;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 86.60px solid #64C7CC;
}

#categories{
  overflow:hidden;
  width:90%;
  margin:0 auto;
  -webkit-transform: perspective(600px) rotateY(-15deg);
  -moz-transform: perspective(600px) rotateY(-15deg);
  -ms-transform: perspective(600px) rotateY(-15deg);
  -o-transform: perspective(600px) rotateY(-15deg);
  transform: perspective(600px) rotateY(-15deg);
}
.clr:after{
  content:"";
  display:block;
  clear:both;
}
#categories li{
  position:relative;
  list-style-type:none;
  width:27.85714285714286%; /* = (100-2.5) / 3.5 */
  padding-bottom: 32.16760145166612%; /* =  width /0.866 */
  float:left;
  overflow:hidden;
  visibility:hidden;

  -webkit-transform: rotate(-60deg) skewY(30deg);
  -ms-transform: rotate(-60deg) skewY(30deg);
  transform: rotate(-60deg) skewY(30deg);
}
#categories li:nth-child(3n+2){
  margin:0 1%;
}
#categories li:nth-child(6n+4){
  margin-left:0.5%;
}
#categories li:nth-child(6n+4), #categories li:nth-child(6n+5), #categories li:nth-child(6n+6) {
	margin-top: -6.9285714285%;
  margin-bottom: -6.9285714285%;

  -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  transform: translateX(50%) rotate(-60deg) skewY(30deg);
}
#categories li:nth-child(6n+4):last-child, #categories li:nth-child(6n+5):last-child, #categories li:nth-child(6n+6):last-child{
  margin-bottom:0%;
}
#categories li *{
  position:absolute;
  visibility:visible;
}
#categories li > div{
  width:100%;
  height:100%;
  text-align:center;
  color:#fff;
  overflow:hidden;

  -webkit-transform: skewY(-30deg) rotate(60deg);
  -ms-transform: skewY(-30deg) rotate(60deg);
  transform: skewY(-30deg) rotate(60deg);

	-webkit-backface-visibility:hidden;

}

/* HEX CONTENT */
#categories li img{
  left:-100%; right:-100%;
  width: auto; height:100%;
  margin:0 auto;
}

#categories div h1, #categories div p{
  width:90%;
  padding:0 5%;
  background-color:#008080; background-color: rgba(0, 128, 128, 0.8);
  font-family: 'Raleway', sans-serif;

  -webkit-transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
  -ms-transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
  transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
}
#categories li h1{
  bottom:110%;
  font-style:italic;
  font-weight:normal;
  font-size:1.5em;
  padding-top:100%;
  padding-bottom:100%;
}
#categories li h1:after{
	content:'';
  display:block;
  position:absolute;
  bottom:-1px; left:45%;
  width:10%;
  text-align:center;
  z-index:1;
  border-bottom:2px solid #fff;
}
#categories li p{
	padding-top:50%;
	top:110%;
	padding-bottom:50%;
}


/* HOVER EFFECT  */

#categories li div h1 {
  bottom:50%;
  padding-bottom:10%;
}

#categories li div p{
  top:50%;
  padding-top:10%;
}

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 800px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px
);


$grid-columns:      12;
$grid-gutter-width: 1.875rem;

@media screen and (min-width : 1065px){
  #static-text{ top: 60px; }
  .hovereffect h2 { top: 36%; }
}
@media screen and (min-width : 845px) and (max-width: 1064px){
  .parent-header-font { font-size: 11px; }
  #static-text{ top: 60px; }
  .hovereffect h2 { top: 36%; }
}
@media screen and (min-width : 690px) and (max-width: 844px){
    .parent-header-font { font-size: 9px; }
    .intro-height { height: 70vh; }
    .blurImg { height: 70vh; }
}
@media screen and (min-width : 541px) and (max-width: 689px){
  .parent-header-font { font-size: 7px; }
  .intro-height { height: 60vh; }
  .blurImg { height: 60vh; }
}

@media screen and (max-width : 540px){
  .parent-header-font { font-size: 4px; }
  .intro-height {height: 50vh; }
  .blurImg {height: 50vh; }
}
