.unclickable{
  pointer-events: none;
}

.parent-header-font{
  font-size: 14px;
}

.h1-custom{
	font-family: "Brush Script MT", cursive;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

.intro-height{
  position: relative;
  height: 100vh;
}


#parallax{
      height:200px;
      padding-bottom:50px;
      overflow:auto;
      background: url('/media/profile.jpg') no-repeat top center fixed;
      background-size: 100vw, 100vh;
      color:#fff;
}

.blurImg{
      position: absolute;
      height: 100vh;
      width: 100%;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
}
.blur {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

@media screen and (min-width : 768px){
  #parallax { height: 50vh; }
}

.hovereffect .overlay {
  position: relative;
  overflow: hidden;
  height: 2px;
  width: 80%;
  left: 10%;
  top: 50%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 2s, -webkit-transform 2s;
  transition: opacity 2s, transform 2s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
  z-index: 2;
}

@media screen and (min-width : 768px){
  .hovereffect .overlay { height: 2px; }
}

.hovereffect2 .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect #hover {
  display: block;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.hovereffect2 #hover {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.75);
  -webkit-filter: brightness(0.75);
}

.hovereffect3 #hover{
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.8);
  -webkit-filter: brightness(0.8);
}

.hovereffect h2 {
  top: 25%;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-family: Optima;
  font-size: 5.8em;
  background-color: transparent;
  color: #FFF;
  opacity: 0;
}

.hovereffect a, hovereffect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.hovereffect2 a, .hovereffect2 p,{
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.transparency{
  opacity: 0;
}

#center-line{
  position: absolute;
  border-top: 1px solid #FFF;
  left:50%;
  top: 52%;
  width: 0;
  height: 2px;
  z-index: 1;
}

h1 {
  color: red;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(transparent, transparent),
             url(/media/4.jpg) repeat;
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text;
}

/*
 * This style will be shared with the SVG because
 * I have to replace the DOM element in Firefox.
 * Otherwise the SVG pattern will be broken.
 */

 /*  font: bold 2em sans-serif;
     line-height: 1;
 */
.headline {
  text-align: center;
  font: bold sans-serif;
  font-size: 5em;
  font-weight: bold;
  opacity: 0;
}

.backgroundImage{
  background-image: url('/media/2.jpg');
  height: 200px;
}
#square{
  position: absolute;
  top: 48.5%;
  left: 48%;
  height: 30px;
  width: 30px;
  opacity: 0;
  z-index: 1;
}

#static-text{
  top: 25px;
}

@media screen and (min-width : 1065px){
  #static-text{ top: 60px; }
  .hovereffect h2 { top: 36%; }

}
@media screen and (min-width : 845px) and (max-width: 1064px){
  .parent-header-font { font-size: 11px; }
  #static-text{ top: 60px; }
  .hovereffect h2 { top: 36%; }

}
@media screen and (min-width : 690px) and (max-width: 844px){
    .parent-header-font { font-size: 9px; }
    .intro-height { height: 70vh; }
    .blurImg { height: 70vh; }
}
@media screen and (min-width : 541px) and (max-width: 689px){
  .parent-header-font { font-size: 7px; }
  .intro-height { height: 60vh; }
  .blurImg { height: 60vh; }
}

@media screen and (max-width : 540px){
  .parent-header-font { font-size: 4px; }
  .intro-height {height: 50vh; }
  .blurImg {height: 50vh; }
}

.visible{
     opacity:1;
}
